.pricing-info {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 120px;
  &-wrap {
    background-color: #fc8437;
    padding: 20px 40px 60px;
    border-radius: 20px;
    margin-bottom: 40px;
  }
  .pricing-info__title {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 4rem;
    color: #ffffff;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  &__highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }

  &__highlight-card {
    background: #fff1ec;
    border-radius: 12px;
    padding: 1.75rem;
    display: flex;
    align-items: flex-start;
    transition:
      transform 0.4s ease-out,
      box-shadow 0.4s ease-out;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
    }
  }

  &__icon-large {
    flex-shrink: 0;
    color: #fc8437;
    margin-right: 1rem;
    font-size: 1.75rem;
    margin-top: 0.125rem;
  }

  &__highlight-content {
    flex-grow: 1;
  }

  &__highlight-title {
    display: block;
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: #e85d04;
  }

  &__highlight-text {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    line-height: 1.6;
  }
  &-textbox-title {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px;
  }
  &-textbox {
    margin-bottom: 20px;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    p {
      font-size: 1.4rem;
      color: #2b2a2a;
      line-height: 1.6;
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    padding: 3rem 1rem;

    &__top-section {
      padding: 3rem 1.25rem;
    }

    &__promise-list {
      grid-template-columns: 1fr;
    }

    &__highlights {
      grid-template-columns: 1fr;
    }
  }
}
