.solutionsrole {
  background-color: white;

  &__cardbox {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;  
    justify-content: space-between; 
  }

  @media (min-width: 1200px) {
    .solutionscard {
      width: calc(25% - 10px);
    }
  }

  @media (max-width: 1080px) and (min-width: 600px) {
    .solutionscard {
      width: calc(50% - 10px);  
    }
  }

  @media (max-width: 600px) {
    .solutionscard {
      width: 100%;
    }
  }
}

.solutionscard {
  background-color: #fc8437;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
  padding: 20px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s, transform 0.3s;
  position: relative;
  text-decoration: none;
  color: inherit;

  &:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);

    .solutionscard__arrow {
      transform: translateX(3px);
    }
  }

  &__number {
    color: #FFC59F;
    font-weight: 900;
    font-size: 80px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-icon { 
      max-width: 4rem;
    }

    &-title { 
      font-weight: 700;
      font-size: 26px;
    }

    &-text {
      font-weight: 400;
      font-size: 24px;
      padding-bottom: 10vh;
    }
  }

  &__arrow {
    width: 96px;
    height: 24px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    transition: transform 0.3s;
  }

  @media (max-width: 600px) {
    &__arrow {
      width: 81px;
      height: 21px;
      bottom: 15px;
      right: 20px;
    }

    &__number {
      font-size: 60px;
    }

    &__info {
      &-title {
        font-size: 22px;
      }

      &-text {
        font-size: 20px;
        padding-bottom: 8vh;
      }
    }
  }
}